@font-face {
  font-family: "Bahnschrift";
  src: local("Bahnschrift"), url("../fonts/bahnschrift.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Norwester";
  src: local("Norwester"), url("../fonts/norwester.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
